<%= notice %>
タイトル
<%= @teach.title %>
内容
<%= @teach.body %>
作成時間
<%= @teach.created_at.strftime("%y/%m/%d %p %l:%M") %>
コメント一覧
<!-- ↓これは消さないで -->
<div id="messages_area">
  <%= render partial: 'message6s/index', locals: { message6s: @messages, teach: @teach } %>
</div>
<%= render partial: 'message6s/form', locals: { message6: @message, teach: @teach } %>
<%= link_to '戻る', teaches_path %>
