<h1>カテゴリー覧</h1>
<br>
<%= link_to "雑談", chat_index_path %>
<br>
<%= link_to "授業", teach_index_path %>
<br>
<%= link_to "就活", find_work_index_path %>
<br>
<%= link_to "研究室", lab_index_path %>
<br>
<%= link_to "意見箱", opinion_index_path %>
<br>
<%= link_to "その他", others_path %>