<%= notice %>
タイトル
<%= @opinion.title %>
内容
<%= @opinion.body %>
作成時間
<%= @opinion.created_at.strftime("%y/%m/%d %p %l:%M") %>
コメント一覧
<!-- ↓これは消さないで -->
<div id="messages_area">
  <%= render partial: 'message4s/index', locals: { message4s: @messages, opinion: @opinion } %>
</div>
<%= render partial: 'message4s/form', locals: { message4: @message, opinion: @opinion } %>
<%= link_to '戻る', opinions_path %>
