<h1>その他一覧<button class="vote"><%= link_to "戻る", others_path %></button></h1>

<% if @other.errors.any? %>
  <div id="error_explanation">
    <h2><%= @other.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @other.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="page4"><br>
<%= form_for(@other) do |f| %>
<p2><%= f.label :title %></p2><br>
<%= f.text_field :title %>
<br><br>
<p2><%= f.label :body %></p2><br>
<%= f.text_field :body %>
<br><br>
<%= f.submit "投稿",:class => 'bottom'%>
<% end %>
</div>