<!--検索機能-->
<p class="search_btn"><%= form_tag find_works_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], placeholder: "チャット一覧検索" %>
  <%= submit_tag "Search", :name => nil %></p>
<% end %><!-- end 検索機能-->

<%if params[:search].blank? %>
  <h1>就活関連一覧 <button class="vote"><%= link_to "投稿", new_find_work_path %></button></h1>

  <% @findworks.each do |find_work| %>
    <!-- # チャットのタイトルにlink_toでリンクを設定します。 -->
    <%= link_to find_work_path(find_work) do %>
    <%= find_work.title %>
    <% end %>
    <p><%= find_work.body %></p>
  <% end %>

<% else %>

  <h1>「<%= params[:search] %>」の検索結果</h1>
    <% @search.each do |search| %>
      <%= link_to find_work_path(search) do %>
        <%= search.title %>
      <% end %>
      <%= search.body %>
  <% end %>
  <br>
  <%= link_to '戻る', find_works_path %>
<% end %>