<%= notice %>
タイトル
<%= @findwork.title %>
内容
<%= @findwork.body %>
作成時間
<%= @findwork.created_at.strftime("%y/%m/%d %p %l:%M") %>
コメント一覧
<!-- ↓これは消さないで -->
<div id="messages_area">
  <%= render partial: 'message2s/index', locals: { message2s: @messages, find_work: @findwork } %>
</div>
<%= render partial: 'message2s/form', locals: { message2: @message, find_work: @findwork } %>
<%= link_to '戻る', find_works_path %>
