<!--検索機能-->
<p class="search_btn"><%= form_tag chats_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], placeholder: "チャット一覧検索" %>
  <%= submit_tag "Search", :name => nil %></p>
<% end %><!-- end 検索機能-->

<%if params[:search].blank? %>
  チャット一覧
  <%= link_to "投稿", new_chat_path %>
  <% @chats.each do |chat| %>
    <!-- # チャットのタイトルにlink_toでリンクを設定します。 -->
    <%= link_to chat_path(chat) do %>
      <%= chat.title %>
    <% end %>
    <%= chat.body %>
  <% end %>

<% else %>

  <h1>「<%= params[:search] %>」の検索結果</h1>
    <% @search.each do |search| %>
      <%= link_to chat_path(search) do %>
        <%= search.title %>
      <% end %>
      <%= search.body %>
  <% end %>
  <br>
  <%= link_to '戻る', chats_path %>
<% end %>