<h1>カテゴリー覧</h1>
<div class="page2">
<div class="box1">
<%= link_to "雑談", chats_path %>
</div>
<div class="box2">
<%= link_to "授業", teaches_path %>
</div>
<br>
<div class="box3">
<%= link_to "就活", find_works_path %>
</div>
<div class="box4">
<%= link_to "研究室", labs_path %>
</div>
<br>
<div class="box5">
<%= link_to "意見箱", opinions_path %>
</div>
<div class="box6">
<%= link_to "その他", others_path %>
</div>
<br>

<div class="foot"><p>Service eXperience Design 2017</p></div>

</div>
