<h1>カテゴリー覧</h1>
<br>
<%= link_to "雑談", chats_path %>
<br>
<%= link_to "授業", teaches_path %>
<br>
<%= link_to "就活", find_works_path %>
<br>
<%= link_to "研究室", labs_path %>
<br>
<%= link_to "意見箱", opinions_path %>
<br>
<%= link_to "その他", others_path %>
