<h1>カテゴリー覧</h1>
<div class="page2">
    <%= link_to chats_path do%>
  <div class="box1 box">
     雑談
  </div>
  <%end%>
    <%= link_to teaches_path do%>
  <div class="box2 box">
    授業
  </div>
  <%end%>
  <br>
  <%= link_to find_works_path do%>
  <div class="box3 box">
    就活
  </div>
  <%end%>
  <%= link_to labs_path do%>
  <div class="box4 box">
    研究室
  </div>
  <%end%>
  <br>
  <%= link_to opinions_path do%>
  <div class="box5 box">
    意見箱
  </div>
  <%end%>
  <%= link_to others_path do%>
  <div class="box6 box">
    その他
  </div>
  <%end%>
</div>

<div class="foot"><p>Service eXperience Design 2017</p></div>
</div>
